@media only screen and (min-width: 600px) {

    .general-container {
        display: flex;
        margin-top: 2rem;
    }

    .main-box {
        width: 50%;
        margin: 1rem;
    }

    /*---------------- ENCRYPT BOX ----------------------*/

    .encrypted-box{
        height: 300px;
    }


    #encrypted-final-txt {
        height: 70%;
    }

    footer {
        position: fixed;
        bottom: 0;
        margin-top: 12rem;
    }

    .footer-links {
        display: flex;
        align-items: center;
        width: 50%;
    }

}

@media only screen and (min-width: 900px) {

    .general-container {
        display: flex;
        margin-top: 2rem;
    }

    .main-box {
        width: 50%;
        margin: 1rem;
    }

    /*---------------- ENCRYPT BOX ----------------------*/
    .encrypted-section {
        height: 300px;
    }


    .encrypted-box{
        height: 400px;
    }

    #img-error-msg{
        width: 200px;
    }
    #encrypted-final-txt {
        height: 70%;
    }

    footer{
        position: relative;
        margin-top: 12rem;
    }

}

@media only screen and (min-height: 700px){
    footer {
        position: fixed;
        bottom: 0;
    }
    
}